In [1]:
"""

--------------------------------
20 January 2021 - 15:00:00 

Casuallens AI

Interview Coding Test

www.testdome.com
--------------------------------


In this challenge, you will explore a public dataset containing various 
hourly air quality measurements from a roadside sensor in an Italian city.

You can find the data here

https://archive.ics.uci.edu/ml/datasets/Air+Quality

Read the dataset information on that page carefully and answer the following questions using
python libraries.

Q-1
"______" was the maximum CO concentration recorded during May 2004.

Q-2
Looking at the highest recordings of NOX, "______" hour of the day and "______" as the
 day of the week was most common.

Q-3
"______" was the total NO2 recorded in January 2005.

Q-4
Month "______" of the "______"  year had the lowest average absolute humidity.

Q-5
Month "______" of the "______"  year had the highest variability in temperature (maximum - minimum)

Q-6
Which two columns have the most values missing? Seperate your answer with a comma.
Columns:"______" ,"______" 


Q-7

In this section you will build a linear model to predict CO concentration on hour ahead and compare
it to a simple benchmark.

Construct a new column called "target" which is the CO concentration lagged forward by one time step.

Calculate the Pearson correlation matrix for all variables.
Which 5 variables are most correlated with "target" (excluding the CO concentration itself)
from highest to lowest?

"______" 

"______" 

"______" 

"______" 

"______" 



Q-8

Use these variables(along with the CO concentration) as inputs for a linear regression predicting
the CO concentration one hour ahead. 

For simplicity we recommend using the scikit-learn LinearRegression implementation, but you should
exclude rows containing any missing values. 

Split your dataset into a training and testing set with a 60-40 ratio.

Calculate the mean absolute error, root mean squared error and coefficient of determination
("R squared") of your model on the test set.

Mean absolute error
"______" 

Root mean square error
"______" 

R squared
"______" 


Q-9

Construct a simple benchmark model that says the prediction for the CO concentration for the next
hour is the same as the current hour.

Calculate the same 3 regression metrics.

Mean absolute error
"______" 

Root mean square error
"______" 

R squared
"______" 


"""

'\n\n--------------------------------\n20 January 2021 - 15:00:00 \n\nCasuallens AI\n\nInterview Coding Test\n\nwww.testdome.com\n--------------------------------\n\n\nIn this challenge, you will explore a public dataset containing various \nhourly air quality measurements from a roadside sensor in an Italian city.\n\nYou can find the data here\n\nhttps://archive.ics.uci.edu/ml/datasets/Air+Quality\n\nRead the dataset information on that page carefully and answer the following questions using\npython libraries.\n\nQ-1\n"______" was the maximum CO concentration recorded during May 2004.\n\nQ-2\nLooking at the highest recordings of NOX, "______" hour of the day and "______" as the\n day of the week was most common.\n\nQ-3\n"______" was the total NO2 recorded in January 2005.\n\nQ-4\nMonth "______" of the "______"  year had the lowest average absolute humidity.\n\nQ-5\nMonth "______" of the "______"  year had the highest variability in temperature (maximum - minimum)\n\nQ-6\nWhich two columns have the most values missing? Seperate your answer with a comma.\nColumns:"______" ,"______" \n\n\nQ-7\n\nIn this section you will build a linear model to predict CO concentration on hour ahead and compare\nit to a simple benchmark.\n\nConstruct a new column called "target" which is the CO concentration lagged forward by one time step.\n\nCalculate the Pearson correlation matrix for all variables.\nWhich 5 variables are most correlated with "target" (excluding the CO concentration itself)\nfrom highest to lowest?\n\n"______" \n\n"______" \n\n"______" \n\n"______" \n\n"______" \n\n\n\nQ-8\n\nUse these variables(along with the CO concentration) as inputs for a linear regression predicting\nthe CO concentration one hour ahead. \n\nFor simplicity we recommend using the scikit-learn LinearRegression implementation, but you should\nexclude rows containing any missing values. \n\nSplit your dataset into a training and testing set with a 60-40 ratio.\n\nCalculate the mean absolute error, root mean squared error and coefficient of determination\n("R squared") of your model on the test set.\n\nMean absolute error\n"______" \n\nRoot mean square error\n"______" \n\nR squared\n"______" \n\n\nQ-9\n\nConstruct a simple benchmark model that says the prediction for the CO concentration for the next\nhour is the same as the current hour.\n\nCalculate the same 3 regression metrics.\n\nMean absolute error\n"______" \n\nRoot mean square error\n"______" \n\nR squared\n"______" \n\n\n'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sklearn.metrics
import math
import datetime as dt
%matplotlib inline

In [3]:
df = pd.read_csv('11111.csv')

In [4]:
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,10/03/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,10/03/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,10/03/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,10/03/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

In [5]:
df['Date']=df.Date+' '+df.Time

In [6]:
df['Date']=pd.to_datetime(df["Date"],format = "%d/%m/%Y %H:%M:%S")

In [7]:
df.set_index("Date",inplace= True)

In [8]:
df.drop('Time', axis=1, inplace=True)
df.drop('Unnamed: 15', axis=1, inplace=True)
df.drop('Unnamed: 16', axis=1, inplace=True)

In [9]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9471 entries, 2004-03-10 18:00:00 to NaT
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    9357 non-null   float64
 2   NMHC(GT)       9357 non-null   float64
 3   C6H6(GT)       9357 non-null   float64
 4   PT08.S2(NMHC)  9357 non-null   float64
 5   NOx(GT)        9357 non-null   float64
 6   PT08.S3(NOx)   9357 non-null   float64
 7   NO2(GT)        9357 non-null   float64
 8   PT08.S4(NO2)   9357 non-null   float64
 9   PT08.S5(O3)    9357 non-null   float64
 10  T              9357 non-null   float64
 11  RH             9357 non-null   float64
 12  AH             9357 non-null   float64
dtypes: float64(13)
memory usage: 1.0 MB

In [11]:
"""

Q-1
"______" was the maximum CO concentration recorded during May 2004.

"""

'\n\nQ-1\n"______" was the maximum CO concentration recorded during May 2004.\n\n'

In [12]:
df["CO(GT)"]["2004-04"].resample("M").max()

Date
2004-04-30    7.3
Freq: M, Name: CO(GT), dtype: float64

In [13]:
"""

Q-2
Looking at the highest recordings of NOX, "______" hour of the day and "______" as the
 day of the week was most common.
 
"""

'\n\nQ-2\nLooking at the highest recordings of NOX, "______" hour of the day and "______" as the\n day of the week was most common.\n \n'

In [14]:
df["NOx(GT)"].nlargest(10,'all').index.day_name().value_counts()

Tuesday      4
Monday       3
Wednesday    1
Thursday     1
Friday       1
Name: Date, dtype: int64

In [15]:
df["NOx(GT)"].nlargest(10,'all').index.hour.value_counts()

18    5
19    2
20    2
17    1
Name: Date, dtype: int64

In [16]:
"""

Q-3
"______" was the total NO2 recorded in January 2005.

"""

'\n\nQ-3\n"______" was the total NO2 recorded in January 2005.\n\n'

In [17]:
df["NO2(GT)"]["2005-01"].resample("M").sum()

Date
2005-01-31    88895.0
Freq: M, Name: NO2(GT), dtype: float64

In [18]:
"""

Q-4
Month "______" of the "______"  year had the lowest average absolute humidity.

"""

'\n\nQ-4\nMonth "______" of the "______"  year had the lowest average absolute humidity.\n\n'

In [19]:
df["AH"].resample("M").min().min()

-200.0

In [20]:
df["AH"].resample("M").min()

Date
2004-03-31      0.4023
2004-04-30   -200.0000
2004-05-31   -200.0000
2004-06-30   -200.0000
2004-07-31   -200.0000
2004-08-31   -200.0000
2004-09-30   -200.0000
2004-10-31   -200.0000
2004-11-30      0.1988
2004-12-31   -200.0000
2005-01-31   -200.0000
2005-02-28   -200.0000
2005-03-31   -200.0000
2005-04-30      0.3866
Name: AH, dtype: float64

In [21]:
"""

Q-5
Month "______" of the "______"  year had the highest variability in temperature (maximum - minimum)

"""

'\n\nQ-5\nMonth "______" of the "______"  year had the highest variability in temperature (maximum - minimum)\n\n'

In [22]:
df.resample("M").agg({"T": "max"})

               T
Date
2004-03-31  29.3
2004-04-30  31.3
2004-05-31  32.8
2004-06-30  42.2
2004-07-31  44.6
2004-08-31  40.5
2004-09-30  40.7
2004-10-31  30.8
2004-11-30  26.8
2004-12-31  20.3
2005-01-31  16.9
2005-02-28  19.9
2005-03-31  28.8
2005-04-30  30.0

In [23]:
df["T"].nsmallest(10,"all")

Date
2004-04-01 14:00:00   -200.0
2004-04-01 15:00:00   -200.0
2004-04-01 16:00:00   -200.0
2004-04-08 23:00:00   -200.0
2004-04-09 00:00:00   -200.0
                       ...
2005-02-11 17:00:00   -200.0
2005-02-11 18:00:00   -200.0
2005-02-11 19:00:00   -200.0
2005-02-11 20:00:00   -200.0
2005-03-11 11:00:00   -200.0
Name: T, Length: 366, dtype: float64

In [24]:
df["T"].nlargest(10,'first')

Date
2004-07-22 16:00:00    44.6
2004-07-22 15:00:00    44.3
2004-07-22 17:00:00    43.4
2004-07-23 15:00:00    43.1
2004-07-20 15:00:00    42.8
2004-07-22 14:00:00    42.8
2004-07-23 16:00:00    42.8
2004-07-21 16:00:00    42.7
2004-07-07 13:00:00    42.6
2004-07-07 14:00:00    42.5
Name: T, dtype: float64

In [25]:
df.resample("M").agg({"T": "min" })

                T
Date
2004-03-31    6.1
2004-04-30 -200.0
2004-05-31 -200.0
2004-06-30 -200.0
2004-07-31 -200.0
2004-08-31 -200.0
2004-09-30 -200.0
2004-10-31 -200.0
2004-11-30    1.3
2004-12-31 -200.0
2005-01-31 -200.0
2005-02-28 -200.0
2005-03-31 -200.0
2005-04-30    8.9

In [26]:
"""

Q-6
Which two columns have the most values missing? Seperate your answer with a comma.
Columns:"______" ,"______" 

"""

'\n\nQ-6\nWhich two columns have the most values missing? Seperate your answer with a comma.\nColumns:"______" ,"______" \n\n'

In [27]:
df.isnull().sum(axis=0)

CO(GT)           114
PT08.S1(CO)      114
NMHC(GT)         114
C6H6(GT)         114
PT08.S2(NMHC)    114
NOx(GT)          114
PT08.S3(NOx)     114
NO2(GT)          114
PT08.S4(NO2)     114
PT08.S5(O3)      114
T                114
RH               114
AH               114
dtype: int64

In [28]:
df.replace(to_replace = -200, value= np.NaN, inplace= True)
df.isna().sum().sort_values(ascending=False)

NMHC(GT)         8557
CO(GT)           1797
NO2(GT)          1756
NOx(GT)          1753
PT08.S1(CO)       480
C6H6(GT)          480
PT08.S2(NMHC)     480
PT08.S3(NOx)      480
PT08.S4(NO2)      480
PT08.S5(O3)       480
T                 480
RH                480
AH                480
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9471 entries, 2004-03-10 18:00:00 to NaT
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         7674 non-null   float64
 1   PT08.S1(CO)    8991 non-null   float64
 2   NMHC(GT)       914 non-null    float64
 3   C6H6(GT)       8991 non-null   float64
 4   PT08.S2(NMHC)  8991 non-null   float64
 5   NOx(GT)        7718 non-null   float64
 6   PT08.S3(NOx)   8991 non-null   float64
 7   NO2(GT)        7715 non-null   float64
 8   PT08.S4(NO2)   8991 non-null   float64
 9   PT08.S5(O3)    8991 non-null   float64
 10  T              8991 non-null   float64
 11  RH             8991 non-null   float64
 12  AH             8991 non-null   float64
dtypes: float64(13)
memory usage: 1.0 MB

In [30]:
"""

Q-7

In this section you will build a linear model to predict CO concentration on hour ahead and compare
it to a simple benchmark.

Construct a new column called "target" which is the CO concentration lagged forward by one time step.

Calculate the Pearson correlation matrix for all variables.
Which 5 variables are most correlated with "target" (excluding the CO concentration itself)
from highest to lowest?

"______" 

"______" 

"______" 

"______" 

"______" 



"""

'\n\nQ-7\n\nIn this section you will build a linear model to predict CO concentration on hour ahead and compare\nit to a simple benchmark.\n\nConstruct a new column called "target" which is the CO concentration lagged forward by one time step.\n\nCalculate the Pearson correlation matrix for all variables.\nWhich 5 variables are most correlated with "target" (excluding the CO concentration itself)\nfrom highest to lowest?\n\n"______" \n\n"______" \n\n"______" \n\n"______" \n\n"______" \n\n\n\n'

In [31]:
df["Target"]= df["CO(GT)"].shift(1)

In [32]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Target
Date,,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN
2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,2.6
2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,2.0
2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,2.2
2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,2.2

In [33]:
#df.corr(method="pearson") = = = = = df.corr()

#df.corr(method="kendall")
#df.corr(method="spearman")

In [34]:
df.corr(method="pearson").sort_values(by="Target", ascending=False)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Target
Target,0.837037,0.730806,0.702962,0.748222,0.752732,0.676757,-0.608054,0.608146,0.497469,0.756721,0.028878,0.040216,0.054754,1.000000
CO(GT),1.000000,0.879288,0.889734,0.931078,0.915514,0.795028,-0.703446,0.683343,0.630703,0.854182,0.022109,0.048890,0.048556,0.837037
PT08.S5(O3),0.854182,0.899324,0.766723,0.865689,0.880578,0.787046,-0.796569,0.708128,0.591144,1.000000,-0.027172,0.124956,0.070751,0.756721
PT08.S2(NMHC),0.915514,0.892964,0.877696,0.981950,1.000000,0.704435,-0.796703,0.646245,0.777254,0.880578,0.241373,-0.090380,0.186933,0.752732
C6H6(GT),0.931078,0.883795,0.902559,1.000000,0.981950,0.718839,-0.735744,0.614474,0.765731,0.865689,0.198956,-0.061681,0.167972,0.748222
PT08.S1(CO),0.879288,1.000000,0.790670,0.883795,0.892964,0.713654,-0.771938,0.641529,0.682881,0.899324,0.048627,0.114606,0.135324,0.730806
NMHC(GT),0.889734,0.790670,1.000000,0.902559,0.877696,0.812685,-0.771135,0.731193,0.853267,0.766723,0.391587,-0.191454,0.269738,0.702962
NOx(GT),0.795028,0.713654,0.812685,0.718839,0.704435,1.000000,-0.655707,0.763111,0.233731,0.787046,-0.269683,0.221032,-0.149323,0.676757
NO2(GT),0.683343,0.641529,0.731193,0.614474,0.646245,0.763111,-0.652083,1.000000,0.157360,0.708128,-0.186533,-0.091759,-0.335022,0.608146
PT08.S4(NO2),0.630703,0.682881,0.853267,0.765731,0.777254,0.233731,-0.538468,0.157360,1.000000,0.591144,0.561270,-0.032188,0.629641,0.497469
AH,0.048556,0.135324,0.269738,0.167972,0.186933,-0.149323,-0.232017,-0.335022,0.629641,0.070751,0.656397,0.167971,1.000000,0.054754
RH,0.048890,0.114606,-0.191454,-0.061681,-0.090380,0.221032,-0.056740,-0.091759,-0.032188,0.124956,-0.578621,1.000000,0.167971,0.040216
T,0.022109,0.048627,0.391587,0.198956,0.241373,-0.269683,-0.145112,-0.186533,0.561270,-0.027172,1.000000,-0.578621,0.656397,0.028878
PT08.S3(NOx),-0.703446,-0.771938,-0.771135,-0.735744,-0.796703,-0.655707,1.000000,-0.652083,-0.538468,-0.796569,-0.145112,-0.056740,-0.232017,-0.608054

In [35]:
"""

Q-8

Use these variables(along with the CO concentration) as inputs for a linear regression predicting
the CO concentration one hour ahead. 

For simplicity we recommend using the scikit-learn LinearRegression implementation, but you should
exclude rows containing any missing values. 

Split your dataset into a training and testing set with a 60-40 ratio.

Calculate the mean absolute error, root mean squared error and coefficient of determination
("R squared") of your model on the test set.

Mean absolute error
"______" 

Root mean square error
"______" 

R squared
"______" 


"""

'\n\nQ-8\n\nUse these variables(along with the CO concentration) as inputs for a linear regression predicting\nthe CO concentration one hour ahead. \n\nFor simplicity we recommend using the scikit-learn LinearRegression implementation, but you should\nexclude rows containing any missing values. \n\nSplit your dataset into a training and testing set with a 60-40 ratio.\n\nCalculate the mean absolute error, root mean squared error and coefficient of determination\n("R squared") of your model on the test set.\n\nMean absolute error\n"______" \n\nRoot mean square error\n"______" \n\nR squared\n"______" \n\n\n'

In [36]:
df.isnull().sum()

CO(GT)           1797
PT08.S1(CO)       480
NMHC(GT)         8557
C6H6(GT)          480
PT08.S2(NMHC)     480
NOx(GT)          1753
PT08.S3(NOx)      480
NO2(GT)          1756
PT08.S4(NO2)      480
PT08.S5(O3)       480
T                 480
RH                480
AH                480
Target           1797
dtype: int64

In [37]:
df.dropna(axis=0,inplace=True)

In [38]:
df.isnull().sum()

CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
Target           0
dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
X =  df[df.columns.difference(['Target'])]
Y = df["Target"]

In [40]:
X.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 798 entries, 2004-03-10 19:00:00 to 2004-05-01 00:00:00
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AH             798 non-null    float64
 1   C6H6(GT)       798 non-null    float64
 2   CO(GT)         798 non-null    float64
 3   NMHC(GT)       798 non-null    float64
 4   NO2(GT)        798 non-null    float64
 5   NOx(GT)        798 non-null    float64
 6   PT08.S1(CO)    798 non-null    float64
 7   PT08.S2(NMHC)  798 non-null    float64
 8   PT08.S3(NOx)   798 non-null    float64
 9   PT08.S4(NO2)   798 non-null    float64
 10  PT08.S5(O3)    798 non-null    float64
 11  RH             798 non-null    float64
 12  T              798 non-null    float64
dtypes: float64(13)
memory usage: 87.3 KB

In [41]:
Y

Date
2004-03-10 19:00:00    2.6
2004-03-10 20:00:00    2.0
2004-03-10 21:00:00    2.2
2004-03-10 22:00:00    2.2
2004-03-10 23:00:00    1.6
                      ...
2004-04-30 20:00:00    5.7
2004-04-30 21:00:00    4.4
2004-04-30 22:00:00    3.1
2004-04-30 23:00:00    3.0
2004-05-01 00:00:00    3.1
Name: Target, Length: 798, dtype: float64

In [42]:
X_train, X_test, y_train, y_test=train_test_split(X, Y, test_size=0.4)

In [43]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [44]:
y_pred=regr.predict(X_test)
y_pred[:5]

array([2.38452425, 1.76522408, 3.5804659 , 1.77119577, 1.82465687])

In [45]:
y_test

Date
2004-03-25 16:00:00    1.9
2004-04-02 07:00:00    1.1
2004-04-01 10:00:00    4.6
2004-03-29 11:00:00    1.5
2004-03-25 11:00:00    2.3
                      ...
2004-03-26 23:00:00    1.2
2004-03-31 13:00:00    2.9
2004-03-30 21:00:00    2.4
2004-04-12 01:00:00    0.7
2004-04-07 19:00:00    3.3
Name: Target, Length: 320, dtype: float64

In [46]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

0.5669808626269817

In [47]:
from sklearn.metrics import mean_squared_error
from math import sqrt

mean_squared_error(y_test, y_pred)

0.6118530283526281

In [48]:
# taking root of mean squared error
sqrt(mean_squared_error(y_test, y_pred))

0.7822103478941123

In [49]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7208112480919309

In [50]:
"""

Q-9

Construct a simple benchmark model that says the prediction for the CO concentration for the next
hour is the same as the current hour.

Calculate the same 3 regression metrics.

Mean absolute error
"______" 

Root mean square error
"______" 

R squared
"______" 


"""

'\n\nQ-9\n\nConstruct a simple benchmark model that says the prediction for the CO concentration for the next\nhour is the same as the current hour.\n\nCalculate the same 3 regression metrics.\n\nMean absolute error\n"______" \n\nRoot mean square error\n"______" \n\nR squared\n"______" \n\n\n'

In [51]:
df["CO_pred"] = pd.Series(y_pred.tolist(),index=df.index[:320])

In [52]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Target,CO_pred
Date,,,,,,,,,,,,,,,
2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,2.6,2.384524
2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,2.0,1.765224
2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,2.2,3.580466
2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,2.2,1.771196
2004-03-10 23:00:00,1.2,1197.0,38.0,4.7,750.0,89.0,1337.0,96.0,1393.0,949.0,11.2,59.2,0.7848,1.6,1.824657

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 798 entries, 2004-03-10 19:00:00 to 2004-05-01 00:00:00
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         798 non-null    float64
 1   PT08.S1(CO)    798 non-null    float64
 2   NMHC(GT)       798 non-null    float64
 3   C6H6(GT)       798 non-null    float64
 4   PT08.S2(NMHC)  798 non-null    float64
 5   NOx(GT)        798 non-null    float64
 6   PT08.S3(NOx)   798 non-null    float64
 7   NO2(GT)        798 non-null    float64
 8   PT08.S4(NO2)   798 non-null    float64
 9   PT08.S5(O3)    798 non-null    float64
 10  T              798 non-null    float64
 11  RH             798 non-null    float64
 12  AH             798 non-null    float64
 13  Target         798 non-null    float64
 14  CO_pred        320 non-null    float64
dtypes: float64(15)
memory usage: 99.8 KB

In [54]:
df.isnull().sum()

CO(GT)             0
PT08.S1(CO)        0
NMHC(GT)           0
C6H6(GT)           0
PT08.S2(NMHC)      0
NOx(GT)            0
PT08.S3(NOx)       0
NO2(GT)            0
PT08.S4(NO2)       0
PT08.S5(O3)        0
T                  0
RH                 0
AH                 0
Target             0
CO_pred          478
dtype: int64

In [55]:
X_2 =  df[df.columns.difference(['CO(GT)'])]
Y_2 = df["CO(GT)"]

In [56]:
X_train_2, X_test_2, y_train_2, y_test_2 =train_test_split(X, Y, test_size=0.4)

In [57]:
regr_2 = linear_model.LinearRegression()
regr_2.fit(X_train_2, y_train_2)

LinearRegression()

In [58]:
y_pred_2=regr_2.predict(X_test_2)
y_pred_2[:5]

array([2.1381584 , 0.90024127, 2.07248481, 1.09162474, 1.24272827])

In [59]:
mean_absolute_error(y_test_2, y_pred_2)

0.4977462885147002

In [60]:
mean_squared_error(y_test_2, y_pred_2)

0.44858922750050956

In [61]:
# taking root of mean squared error
sqrt(mean_squared_error(y_test_2, y_pred_2))

0.6697680400709708

In [62]:
r2_score(y_test_2,y_pred_2)

0.7692015466905457

In [63]:
df["CO_pred_2"] = pd.Series(y_pred_2.tolist(),index=df.index[:320])

In [64]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Target,CO_pred,CO_pred_2
Date,,,,,,,,,,,,,,,,
2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,2.6,2.384524,2.138158
2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,2.0,1.765224,0.900241
2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,2.2,3.580466,2.072485
2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,2.2,1.771196,1.091625
2004-03-10 23:00:00,1.2,1197.0,38.0,4.7,750.0,89.0,1337.0,96.0,1393.0,949.0,11.2,59.2,0.7848,1.6,1.824657,1.242728

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 798 entries, 2004-03-10 19:00:00 to 2004-05-01 00:00:00
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         798 non-null    float64
 1   PT08.S1(CO)    798 non-null    float64
 2   NMHC(GT)       798 non-null    float64
 3   C6H6(GT)       798 non-null    float64
 4   PT08.S2(NMHC)  798 non-null    float64
 5   NOx(GT)        798 non-null    float64
 6   PT08.S3(NOx)   798 non-null    float64
 7   NO2(GT)        798 non-null    float64
 8   PT08.S4(NO2)   798 non-null    float64
 9   PT08.S5(O3)    798 non-null    float64
 10  T              798 non-null    float64
 11  RH             798 non-null    float64
 12  AH             798 non-null    float64
 13  Target         798 non-null    float64
 14  CO_pred        320 non-null    float64
 15  CO_pred_2      320 non-null    float64
dtypes: float64(16)
memory usage: 106.0 KB